<div>
    <nav class="navbar navbar-default sub-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/Admin">Manage Users</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" ng-model="userFilter" />
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a role="button" ng-click="showNewUser()">New User</a>
                    </li>
                    <li>
                        <a ng-click="refresh()" role="button">
                            Refresh <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <table class="table table-responsive">
        <tr>
            <th>
                <a class="pointer" ng-click="updateSortBy('UserName')">
                    User Name
                    <i ng-if="showAscending('UserName')" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-if="!showAscending('UserName')" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </a>
            </th>
            <th>
                <a class="pointer" ng-click="updateSortBy('EmailAddress')">
                    Email Address
                    <i ng-if="showAscending('EmailAddress')" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-if="!showAscending('EmailAddress')" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </a>
            </th>
            <th>
                <a class="pointer" ng-click="updateSortBy('Role')">
                    Role
                    <i ng-if="showAscending('Role')" class="glyphicon glyphicon-sort-by-alphabet"></i>
                    <i ng-if="!showAscending('Role')" class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
                </a>
            </th>
            <th>
            </th>
        </tr>

        <tr ng-repeat="user in users | orderBy:sortBy:sortReverse | filter:userFilter">
            <td>
                {{user.UserName}}
            </td>
            <td>
                {{user.EmailAddress}}
            </td>
            <td>
                {{user.Role}}
            </td>
            <td>
                <a class="pointer" ng-click="showUpdateUser(user.Id)">Edit</a> | <a class="pointer" ng-click="showDeleteConfirm(user.Id)">Delete</a>
            </td>
        </tr>
        <tr ng-show="loading">
            <td colspan="4">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Loading Users
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="create-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Register New User</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="editForm" novalidate>
                    <div class="form-group">
                        <label for="editEmail" class="control-label">Email:</label>
                        <input name="editEmail" type="email" class="form-control" required ng-model="dialogEmail" />
                        <div ng-show="editForm.$submitted || editForm.editName.$dirty">
                            <span class="text-danger" ng-show="editForm.editEmail.$error.required">You need to give a valid email addres.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPassword" class="control-label">Password:</label>
                        <input name="editPassword" type="password" class="form-control" required ng-minlength="6" ui-validate="{password: validPassword}" ng-model="dialogPassword" />
                        <div ng-show="editForm.$submitted || editForm.editPassword.$dirty">
                            <span class="text-danger" ng-show="editForm.editPassword.$error.required">You need to give a password.</span>
                            <div class="text-danger" ng-show="editForm.editPassword.$error.password">
                                The password needs:
                                <ul>
                                    <li>At least 6 characters</li>
                                    <li>At least one symbol</li>
                                    <li>At least one number</li>
                                    <li>At least one upper-case letter</li>
                                    <li>At least one lower-case letter</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editPasswordConfirm" class="control-label">Confirm Password:</label>
                        <input name="editPasswordConfirm" type="password" class="form-control" required compare-to="dialogPassword" ng-model="dialogPasswordConfirm" />
                        <div ng-show="editForm.$submitted || editForm.editCallsign.$dirty">
                            <span class="text-danger" ng-show="editForm.editPasswordConfirm.$error.required">You need to confirm the password.</span>
                            <span class="text-danger" ng-show="editForm.editPasswordConfirm.$error.compareTo">The password and confirmation do not match.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editRole" class="control-label">Role:</label>
                        <select id="editRole" class="form-control" ng-model="dialogRole">
                            @{
                                var dbContext = new BikeTracker.Models.ApplicationDbContext();
                                foreach (var r in dbContext.Roles)
                                {
                            <option value="@r.Id">@r.Name</option>
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="editForm.$invalid" ng-click="createUser()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="error-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{errorTitle}}</h4>
            </div>
            <div class="modal-body">
                <p>{{errorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="delete-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{deleteName}}?</p>
                <p class="text-warning"><strong>Take care:</strong> you won't be able to undo this.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeItem()">Delete List</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>