@model BikeTracker.Models.ApplicationUser

@{
    ViewBag.Title = "User Created";
}

<h2>@ViewBag.Title</h2>

<p>
    A user account for @Model.UserName has been created.  An email has been sent to them
    to confirm their email address.  They will need to do this before they can 
    log in.
</p>