<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 ng-if="createMode" class="modal-title">Register New IMEI</h4>
    <h4 ng-if="!createMode" class="modal-title">Update IMEI</h4>
</div>
<div class="modal-body">
    <form role="form" name="editForm" novalidate>
        <div class="form-group">
            <label for="editName" class="control-label">IMEI:</label>
            <input name="editName" type="tel" pattern="[0-9]*" class="form-control" required ng-model="imei" />
            <div ng-show="editForm.$submitted || editForm.editName.$dirty">
                <span class="text-danger" ng-show="editForm.editName.$error.required">You need to give a valid IMEI.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="editCallsign" class="control-label">Call Sign:</label>
            <input ng-pattern="/^[A-Z]{2}((0[1-9])|[1-9][0-9]{1,2})$/" name="editCallsign" type="text" class="form-control" required ng-model="callsign" />
            <div ng-show="editForm.$submitted || editForm.editCallsign.$dirty">
                <span class="text-danger" ng-show="editForm.editCallsign.$error.pattern">That doesn't look like a valid callsign.</span>
                <span class="text-danger" ng-show="editForm.editCallsign.$error.required">You need to give a callsign.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="edit-description" class="control-label">Description:</label>
            <select id="edit-description" class="form-control" ng-model="type">
                <option value="Unknown">Unknown</option>
                <option value="Bike">Bike</option>
                <option value="FootPatrol">Foot Patrol</option>
                <option value="Ambulance">Ambulance</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="ok()">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>