body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mapDiv {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 90px;
}

.map-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 85px;
}

.map-footer-row {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.callsign-flag {
    font-size: 12px;
    font-weight: bold;
    border: solid 2px;
    display: inline;
    white-space: nowrap;
}

.move-tool {
    position: fixed;
    left: 10px;
    top: 100px;
    z-index: 100;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.move-tool h4 {
    margin-top: 0;
}

.map-alert {
    z-index: 101;
    position: relative;
    top: 100px;
    text-align:center
}

.alert-box {
    position: relative;
    z-index: 120;
    padding: 5px;
    border-radius: 5px;
}


@media (min-width: 768px) {
    #mapDiv {
        bottom: 70px;
    }

    .map-footer {
        height: 65px;
    }
}

@media (min-width: 992px) {
    #mapDiv {
        bottom: 50px;
    }

    .map-footer {
        height: 45px;
    }
}

.full-width-button {
    width: 100%;
}

a.full-width-button {
    margin-bottom: 3px;
}

.button-mini {
    line-height: 1;
    padding-top: 0;
    margin-top: 4px;
}

.small-bottom-margin {
    margin-bottom: 5px;
}

.small-hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.callsign-flag > img {
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    height: 12px;
}

.pointer {
    cursor: pointer;
}

.sub-navbar {
    margin-top: 10px;
}

.button-pic {
    text-align: left;
}

    .button-pic a {
        vertical-align: middle;
        display: table;
    }

        .button-pic a img {
            width: 75px;
            float: left;
            margin: 5px;
            display: table-cell;
        }

        .button-pic a span {
            color: #333;
            vertical-align: middle;
            display: table-cell;
        }

@media (min-width:992px) {
    .button-pic {
        text-align: center;
    }
        .button-pic a {
            display: inline;
        }

        .button-pic a img {
            width: 150px;
            float: none;
            display: inline;
        }

        .button-pic a span {
            display:block;
        }
}

.input-group {
    max-width: 280px;
}