body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mapDiv {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 90px;
}

.map-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 85px;
}

.map-footer-row {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.callsign-flag {
    font-size: 12px;
    font-weight: bold;
    border: solid 2px;
    display: inline;
}

.move-tool {
    position: fixed;
    left: 10px;
    top: 100px;
    z-index: 100;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

@media (min-width: 768px) {
    #mapDiv {
        bottom: 70px;
    }

    .map-footer {
        height: 65px;
    }
}

@media (min-width: 992px) {
    #mapDiv {
        bottom: 50px;
    }

    .map-footer {
        height: 45px;
    }
}
