<div>
    <h2>SJA Tracker Reports</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body button-pic">
                    <a href="#/Reports/UserActivity">
                        <img src="~/Content/interface.png" title="User Activity" />
                        <span class="h3">User Activity</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body button-pic">
                    <a href="#/Reports/Locations">
                        <img src="~/Content/travel.png" title="Callsign Records" />
                        <span class="h3">Location Reports</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body button-pic">
                    <a href="#/Reports/Rates">
                        <img src="~/Content/tool.png" title="Reports" />
                        <span class="h3">Check In Rates</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>