@{
    var version = typeof(Startup).Assembly.GetName().Version;
    var versionString = $"{version.Major}.{version.Minor}.{version.Build}";
}

<div id="mapDiv"></div>
<div class="map-footer pull-right">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 map-footer-row">
                <div class="text-success bg-success callsign-flag">WR123</div>
                <div style="display:inline">Received less than 20 minutes ago</div>
            </div>
            <div class="col-sm-4 map-footer-row">
                <div class="text-warning bg-warning callsign-flag">WR123</div>
                <div style="display:inline;">Received less than 40 minutes ago</div>
            </div>
            <div class="col-sm-4 map-footer-row">
                <div class="text-danger bg-danger callsign-flag">WR123</div>
                <div style="display:inline;">Received less than 60 minutes ago</div>
            </div>
        </div>
        <div class="row">
            <footer class="col-md-12">
                <p>SJA Tracker - Version @versionString - Copyright &copy; @DateTime.Now.Year - Tony Richards, @Html.ActionLink("Image Credits", "Policies", "Home")</p>
            </footer>
        </div>
    </div>
</div>
<div class="move-tool">
    <h4>Callsigns</h4>
    <form class="form">
        <div class="form-group small-bottom-margin">
            <label for="callsign-box">Jump to:</label>
            <select class="form-control" name="callsign-box" id="callsign-box"></select>
        </div>
        <div id="extra-controls" class="collapse">
            <div class="form-group small-bottom-margin">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="hide-unknown" /> Hide unknown
                    </label>
                </div>
            </div>
            <div class="form-group small-bottom-margin">
                <label for="landmark-box">Remove landmark:</label>
                <select class="form-control" name="landmark-box" id="landmark-box"></select>
            </div>
            <div class="full-width-button">
                <a href="#" role="button" id="delete-landmark" class="btn btn-danger full-width-button">Delete</a>
            </div>
            <hr class="small-hr" />
            <div class="full-width-button">
                <a href="#" role="button" id="refresh-button" class="btn btn-success full-width-button">
                    Force Refresh
                </a>
            </div>
        </div>
        <div class="full-width-button">
            <a data-toggle="collapse" href="#extra-controls" role="button" id="expand-button" class="btn btn-default full-width-button button-mini">
                &hellip;
            </a>
        </div>
    </form>
</div>
