@{
    var version = typeof(Startup).Assembly.GetName().Version;
    var versionString = $"{version.Major}.{version.Minor}.{version.Build}";
}

<div id="mapDiv"></div>
<div class="map-footer pull-right">
    <div class="container">
        <div class="row">
            <footer class="col-md-12">
                <p>SJA Tracker - Version @versionString - Copyright &copy; @DateTime.Now.Year - Tony Richards, @Html.ActionLink("Image Credits", "Policies", "Home")</p>
            </footer>
        </div>
    </div>
</div>
<div class="move-tool">
    <h4>Callsigns</h4>
    <form class="form">
        <div class="form-group small-bottom-margin">
            <select class="form-control" name="callsign-box" id="callsign-box" ng-model="selectedCallsign">
                <option ng-repeat="cs in callsigns | orderBy" value="{{cs}}">{{cs}}</option>
            </select>
        </div>
        <div class="form-group small-bottom-margin">
            <div class="input-group">
                <input type="text" class="form-control" is-open="showDate" datepicker-options="dateOptions" datepicker-popup="shortDate" ng-model="selectedDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="btn-group-vertical full-width-button">
            <button class="btn btn-primary full-width-button" ng-click="showDates()">Show Reports</button>
            <button class="btn btn-default full-width-button" ng-click="downloadDates()">Download Reports</button>
        </div>
    </form>
</div>
