@{
    ViewBag.Title = "Control Panel";
}

<div>
    <h2>SJA Tracker Control Panel</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body button-pic">
                    <a href="#/IMEIs">
                        <img src="~/Content/smartphone86.png" title="Manage IMEI to Callsign Links" />
                        <span class="h3">Manage IMEIs</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body button-pic">
                    <a href="#/Users">
                        <img src="~/Content/multiple25.png" title="Manage Users" />
                        <span class="h3">Manage Users</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>