@{
    ViewBag.Title = "Contact";
}
<h2>Contact Details</h2>

<p>
    This website is managed by Tony Richards, the District Cycling Officer for Central District in South West Region.
    For any support queries, please contact Tony.
</p>
<p>
    Contact details can be found in the South West Regional Directory
    or via <a href="https://sjaconnect.me">SJA Connect</a>.
</p>